
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */